#game {
    display: inline-grid;
    height: 300px;
    width: 300px;
    background-color:  black;
    grid-template-columns: repeat(40,1fr);
    grid-template-rows: repeat(40,1fr);
    gap: 1px;
}

.empty {
    background-color: black;
}

.snake,.head {
    background-color: darkgreen;
}

.apple {
    background-color: red;
}

#length {
    color: darkgreen;
    position: absolute;
    font-size: 2em;
    top:10px;
    left:15px;
}
